.about-page{
    padding: 10px;
    background-color: #AC9A82;
}
.goals-block {
    padding: 20px;
    margin: 20px 50px;
    border: 1px solid;
}
.goal {
    display: flex;
    gap: 35px;
    margin: 10px 10px 10px 10px;
    border-bottom: 1px solid;
    padding: 10px;
    text-align: justify;
    font-size: 13px;
}
.goal img{
    width: 200px;
    height: 150px;
    border-radius: 8px;
}
.goal img:hover{
    scale: 1.1;
    overflow: hidden;
    transition: all 0.25s;
}
.list-unstyled {
    width: 50%;
    padding: 0px 15px;
}
.list-unstyled li{
    padding: 5px 25px;
    font-size: 15px;
}
.hobbies-block {
    padding: 10px;
    margin: 20px 50px;
    border: 1px solid;
}
.hobbies {
    display: flex;
    gap: 35px;
    margin: 10px;
    padding: 20px;
    border-bottom: 1px solid;
    font-size: 13px;
    text-align: justify;
}
.hobbies div img {
    width: 200px;
    height: 150px;
    border-radius: 8px;
}
@media only screen and (max-width: 767px) {
    .goals-block {
        padding: 10px;
        margin: 10px 15px;
     }    
     .textCenter {
        text-align: center;   
        font-size: 16px;
    }
    .goal {
        display: inline-grid;
        gap: 10px;
    }
    .goal img{
        width: 100%;
    }
    .list-unstyled {
        width: 100%;
    }
    .list-unstyled li{
        display: flow;
        padding: 5px;
    }
    .hobbies-block {
        padding: 10px;
        margin: 10px 15px;
    }
    .hobbies {
        display: inline-grid;
        gap: 10px;
        
    }
    .hobbies div img {
        width: 100%;
    }

}